.container1{
    width: 1100px;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    border: 2px solid black;

}
.items{
    width: 200px;
    height: 50px;
    color:darkgreen;
    background-color: khaki;
    border: 2px solid black;
    text-align: center;
}
.container2{
    width: 1100px;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row-reverse;
    border: 2px solid black;
}
.container3{
    width: 400px;
    height: 500px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
}
.container4{
    width: 400px;
    height: 500px;
    background-color: blue;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    border: 2px solid black;
}
.container5{
    width: 1400px;
    height: 200px;
    background-color:purple;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container6{
    width: 1300px;
    height: 200px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    border: 2px solid black;
}
.container7{
    width: 1100px;
    height: 200px;
    background-color: aqua;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    border: 5px solid black;
}
.container8{
    width: 1100px;
    height: 200px;
    background-color:goldenrod;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px double palegreen;
}
.container9{
    width: 1100px;
    height: 200px;
    background-color:goldenrod;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    border: 5px double palegreen;
}

.container10{ width: 1100px;
    height: 400px;
    background-color:goldenrod;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    border: 5px double palegreen;
}
.container11{
    width: 1100px;
    height: 400px;
    background-color:brown;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px double palegreen;
}
.container12{
    width: 1100px;
    height: 400px;
    background-color:brown;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:end;
    border: 5px double palegreen;
    
}
.container13{width: 1100px;
    height: 400px;
    background-color:brown;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:end;
    align-items: center;
    border: 5px double palegreen;
    

}

.container14{width: 1100px;
    height: 400px;
    background-color:brown;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    border: 5px double palegreen;
    

}
.container15{
    width: 1100px;
    height: 400px;
    background-color:brown;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:end;
    align-items: end;
    border: 5px double palegreen;
    

}
.container16{width: 1100px;
    height: 400px;
    background-color:brown;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    align-items: centre;
    border: 5px double palegreen;
    

}
.container17{width: 1100px;
    height: 400px;
    background-color:brown;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:end;
    align-items: centre;
    border: 5px double palegreen;
    

}
.container18{width: 1100px;
    height: 400px;
    background-color:brown;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    border: 5px double palegreen;
    

}
.container19{
    width: 1100px;
    height: 400px;
    background-color:brown;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    align-items: end;
    border: 5px double palegreen;
    
}
.container20{
    width: 1100px;
    height: 400px;
    background-color:brown;
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content:end;
    align-items: end;
    border: 5px double palegreen;
}
.container21{ width: 1100px;
    height: 400px;
    background-color:brown;
    display:flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content:centre;
    align-items:end ;
    border: 5px double palegreen;

}
#mainHeading{
    text-align: center;
    color: lawngreen;
    background-color: blueviolet;
    font-size: 2rem;
    border: 5px solid fuchsia;
    border-radius: 20px;
}